header {
    background-color: #FFE600;
    .ml-logo {
        display: inline-block;
    }
    .ml-logo-container {
        padding-top: 10px;
    }
    .ml-search-box-container {
        margin-left: -15px;
    }
}


// .margin-search-box {
//     margin-left: -15px;
// }